<div class="language-python highlighter-rouge">
  <div class="highlight">
  <pre class="highlight nf" style="margin:12.5px 0px; border:0px; background-color:transparent;">
  <code style="text-align:left; white-space: pre;">
   <span>         /\    _       _                           _                      * </span>
   <span>/\_/\___/  \__| |_____| |_________________________| |___________________*___</span>
   <span>[===]  / /\ \ | |  _  |  _  | _  \/ __/ -__|  \| \_  _/ _  \ \_/ | * _/| | |</span>
   <span> \./  /_/  \_\|_|  ___|_| |_|__/\_\ \ \____|_|\__| \__/__/\_\___/|_|\_\|_|_|</span>
   <span>                | /             |___/                                       </span>
   <span>                |/                                                          </span>
  </code>
</pre>
</div>
</div>
