@import "main";

.current {
  color: limegreen;
}


:root {
  --ifm-image-alignment-padding:1.25rem}

img {
  border-style: none;
  box-sizing: content-box;
  width: 400px;
}

img[align=right] {
  padding-left: var(--image-alignment-padding)
}

img[align=left] {
  padding-right: var(--image-alignment-padding)
}

.responsive-img {
  width: 400px; 
  display:block; 
  height: auto;
  min-width:200px;
  }