
<div class="entries">
    <div class="entry">
      <div class="title">May 26th 2006</div>
      <div class="body">
          <p>Auditor Security Collection and Whax merge to create BackTrack</p>
          <p>Live CD and live USB capability</p>
      </div>
    </div>
    <div class="entry">
      <div class="title">March 6th 2007</div>
      <div class="body">
          <p>BackTrack 2</p>
          <p>Kernel 2.6.20</p>
          <p>Metasploit2 and Metsploit3 support</p>
          <p>Redesigned menu structure</p>
      </div>
    </div>
    <div class="entry">
      <div class="title big">June 19th 2008</div>
      <div class="body">
          <p>BackTrack 3</p>
          <p>Kernel 2.6.21.5</p>
          <p>Saint and Maltego added</p>
      </div>
    </div>
    <div class="entry">
      <div class="title">January 9th 2010</div>
      <div class="body">
          <p>BackTrack 4</p>
          <p>Kernel 2.6.34</p>
          <p>Massively improved hardware support</p>
          <p>Official FluxBox support</p>
      </div>
    </div>
    <div class="entry">
      <div class="title">May 10th 2011</div>
      <div class="body">
          <p>BackTrack 5</p>
          <p>Based on Ubuntu Lucid LTS</p>
          <p>Kernel 2.6.38</p>
      </div>
    </div>
    <div class="entry">
      <div class="title big">March 13th 2013</div>
      <div class="body">
          <p>BackTrack Linux becomes <a href="http://kali.org" style="color: white; z-index: 99; position: relative;">Kali Linux</a></p>
          <p>Support for BackTrack Linux ends</p>
          <p>Complete platform rebuild</p>
          <p>Based on Debian</p>
          <p>Streamlined package updates synced with Debian</p>
      </div>
    </div>
   
  </div><!-- end content -->